@font-face {
  font-family: "TT Norms";
  src: url("TTNorms-Regular.woff2") format("woff2"),
    url("TTNorms-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-variant-ligatures: none;
}
